<div class="row">
  <div class="col-md-6">
    <h1>Wikis</h1>
  </div>
  <div class="col-md-6">
  <div class="pull-right">
    <% if current_user %>
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
</div>
<% @wikis.each do |wiki| %>
  <h4>
    <table class="table table-hover">
      <tr>
        <% if !wiki.private || current_user.premium? || current_user.admin? %>
          <td><%= link_to wiki.title, wiki %></td>
        <td>
          <div class="pull-right">
            <% if current_user %>
            <%= link_to "Edit", edit_wiki_path(wiki), class: 'btn btn-success' %>
            <%= link_to "Delete Wiki", wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
          </div>
        <% end %>
        </td>
        <% end %>
      </tr>
    </table>
  </h4>
<% end %>
